<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Casey O'Kane's learning journal</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <header>
                <ul>
                    <li><a href=""><h3>Today I learned ...</h3></a></li>
                    <li id="addnewentry"><a href="/journal/new-entry">Add new entry</a></li>
                </ul>
            </header>
        </div>
    </div>
    <div class="entries">
        <div class="row">
            <div class="entry-column">
                <article>
                    <h4 class="date">May 30, 2017</h4>
                    <a href="/journal/entry1"><h4>entry1</h4></a>
                </article>
            </div>
            <div class="entry-column">
                <article>
                    <h4 class="date">May 31, 2017</h4>
                    <a href="/journal/entry2"><h4>entry2</h4></a>
                </article>
            </div>
        </div>
    </div>
</body>
</html>